<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="jumbotron">
        <div class="container mt-2">
            <div class="text-left">
                <h5>Your Gold: <span class="white border rounded border-warning px-5 py-1">{{ session['gold'] }}</span>
                </h5>
            </div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card border border-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">Farm</h5>
                                <p class="card-text">(earns 10-20 golds)</p>
                                <form action="/process" method='post'>
                                    <input type="hidden" name="structure" value="farm">
                                    <button type="submit" class="btn btn-lg btn-warning border-dark">Find
                                        Gold!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">Cave</h5>
                                <p class="card-text">(earns 5-10 golds)</p>
                                <form action="/process" method='post'>
                                    <input type="hidden" name="structure" value="cave">
                                    <button type="submit" class="btn btn-lg btn-warning border-dark">Find
                                        Gold!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">House</h5>
                                <p class="card-text">(earns 2-5 golds)</p>
                                <form action="/process" method='post'>
                                    <input type="hidden" name="structure" value="house">
                                    <button type="submit" class="btn btn-lg btn-warning border-dark">Find
                                        Gold!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">Casino</h5>
                                <p class="card-text">(earns/takes 0-50 golds)</p>
                                <form action="/process" method='post'>
                                    <input type="hidden" name="structure" value="casino">
                                    <button type="submit" class="btn btn-lg btn-warning border-dark">Find
                                        Gold!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h5>Activities</h5>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text border-warning">{{ activities|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>